
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.title__container {
    text-align: center;
}
.title__container > h1 {
    font-size: 2.2rem;
    color: white;
}
.title__container > h2 {
    color: white;
    margin-top: 2rem;
}

.nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav__logo {
    color: white;
}

.nav__logo:hover {
    color: var(--title-color-dark);
}

.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.nav__list {
    display: flex;
    column-gap: 2rem;
}
.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

ul {
    list-style: none;
}

.active-link, .nav__link:hover {
    color: var(--title-color-dark);
}
.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: white;
    font-weight: var(--font-medium);
    transition: .3s;
}